@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4fc3f7;
	animation-delay: -1s;
}

.text-copy:nth-child(2){
	stroke: #03a9f4;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #0288d1;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #01579b;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ffffff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}